<div>
    <h2 class="h2">Welcome to our webstore!</h2>
    <p>We have many products for sale. Take a look around.</p>
    <div class="well">
        <p><strong>Contributors:</strong></p>
        <ul class="list-inline">
            <li>Николай Раденков</li>
            <li>Калоян Маршалов</li>
            <li>Джейлян Адемова</li>
            <li>Георги Петров</li>
        </ul>
    </div>
</div>